/Tarea1/nbproject/private/
/Tarea1/build/
/app-clase01-datos/build/
/app-clase01-datos/dist/
/Tarea1-Tipos_Primitivos/nbproject/private/
/Tarea1-Tipos_Primitivos/build/
/Tarea1-Tipos_Primitivos/dist/
/Tarea2-Arrays/nbproject/private/
/Tarea2-Arrays/build/
/.metadata/
/UdemyTarea13/nbproject/private/
/UdemyTarea13/build/
/Tarea4Java/nbproject/private/
/Tarea4Java/build/
/Tarea4Java/dist/
